<?xml version='1.0' encoding='utf-8'?>
<widget id="com.citawarisan.fwinism" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fwinism</name>
    <description>Front-end Web-based IOT Networking Included System Module</description>
    <author href="https://github.com/citawarisan/fwinism">
        Citawarisan
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <!-- <allow-navigation href="http://192.168.4.1/*" /> -->
    <allow-navigation href="*" />

    <icon src="www/img/logo.png" />

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge"
            target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>