<html>

<head>
    <title>Group Project Requirements Checklist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" onerror="this.onerror=null;this.href='/css';">
</head>

<body class="container">
    <h1>Group Project Requirements Checklist</h1>
    
    <ul>
        <li>Connect LED (-ve) to VP and (+ve) to D2.</li>
        <li>Input token and developer device id.</li>
    </ul>
    
    <form method="post">
        <div class="grid">
            <input type="text" name="token" placeholder="Token" required />
            <input type="text" name="id" placeholder="ID" required />
        </div>
        <input type="submit" />
    </form>
    <footer>
        <input type="button" value="Back to Index" onclick="window.location.href='/'" />
        <details>
            <summary>Created by Team Citawarisan, 2023</summary>
            <ul>
                <li>ARUN MUGILAN A/L SARGUNAN (S63746)</li>
                <li>FARIS ISKANDAR BIN ABD RAHMAN (S62371)</li>
                <li>MOHAMAD HAZIM BIN MOHD SHAKRI (S61770)</li>
                <li>GARY LIM KHAI ZHE(S62079)</li>
            </ul>
        </details>
    </footer>
</body>

</html>