<html>

<head>
    <title>Group Project Requirements Checklist</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css *only* works after you've connected to the internet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>

<body class="container">
    <h1>Group Project Requirements Checklist</h1>
    
    <ul>
        <li>Connect LED (-ve) to VP and (+ve) to D2.</li>
        <li>Input token and developer device id.</li>
    </ul>
    
    <form method="post">
        <div class="grid">
            <input type="text" name="token" placeholder="Token" required />
            <input type="text" name="id" placeholder="ID" required />
        </div>
        <input type="submit" />
    </form>
</body>

</html>