<html>

<head>
    <title>WLAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" onerror="this.onerror=null;this.href='/css';">
</head>

<body class="container">
    <h1>WLAN</h1>
    <h2>SSID: {{essid}}</h2>
    <form method="POST">
        <select name="ssid">
            {{options}}
        </select>
        <input type="password" name="pw" placeholder="password" />
        <input type="submit" />
    </form>
    <footer>
        <details>
            <summary>Created by Team Citawarisan, 2023</summary>
            <p>App Faction</p>
            <ul>
                <li>ARUN MUGILAN A/L SARGUNAN (S63746)</li>
                <li>FARIS ISKANDAR BIN ABD RAHMAN (S62371)</li>
                <li>MOHAMAD HAZIM BIN MOHD SHAKRI (S61770)</li>
                <li>GARY LIM KHAI ZHE(S62079)</li>
            </ul>
            <p>ESP32 Faction</p>
            <ul>
                <li>ARUN MUGILAN A/L SARGUNAN (S63746)</li>
                <li>DANIAL SOLEHIN B SAFIE (S62091)</li>
                <li>OMAR ALOMORY (S63995)</li>
                <li>GARY LIM KHAI ZHE(S62079)</li>
            </ul>
        </details>
    </footer>
</body>

</html>